# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# VIRTUAL ENVIRONMENT
# =========================
venv/
env/
ENV/
.venv/

# =========================
# ENV VARIABLES
# =========================
.env
.env.*

